body {
    font-family: 'Lobster', cursive;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #004445;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 32px;
    color: white;
    text-align: center;
    line-height: 120px;
    background: #021c1e;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 85px;
    font-size: 24px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
    background: #016668;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #021c1e;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s ease;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
#check:checked ~ section{
    margin-left: 250px;
}
section{
    background: url(https://i.pinimg.com/originals/72/dc/33/72dc339da93a143ec1ed0d54143ecfea.jpg);
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}
.section{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(5,auto);
    height: 100vh;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    font-style: bold;
    color: white;
}
.section-img{
    padding: 0 100px;
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    grid-column: 1/2;
    grid-row: 1/2;
}
img{
    height: 200px;
    width: 200px;
    transition: all 1s ease;
}
img:hover{
    height: 250px;
    width: 250px;
    rotate: 40deg;
}
.class-data{
    display: flex;
    justify-content: left;
    height: 30%;
    width: auto;
    grid-column: 2/6;
    grid-row: 1/2;
    font-size: 40px;
    margin: 25px;
}
.class-data input{
    background: none;
    font-family:"Poppins", sans-serif;
    font-size: 40px;
    color: white;
    border: none;
}
.alumn-data{
    display:flex;
    grid-row: 2/6;
    grid-column: 1/6;
    justify-content: center;
    font-size: 40px;
    margin: 50px 0;
}
.data{
    background: linear-gradient(90deg, rgba(214, 54, 147, 0.5),transparent);
    text-decoration: none;
    cursor: none;
    padding: 5px 45px;
    transition: all .5s;
}
.data:hover{
    padding: 0px 5px 0 65px;
    color: black;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color:currentColor;
}
